numpy
scipy
statsmodels
quandl
pytz
beautifulsoup4==4.8.0
boto3==1.9.240
requests==2.22.0
requests-html==0.10.0
jupyterlab==1.1.4
dash==1.3.0
dash-daq==0.2.1
nodejs==12.8.1
pandas==0.25.1
plotly==4.1.1